body{
    width: 1080px;
    margin: auto;
}

#puzzle{
	background-color: green;
	border: 50px double lightblue;
	padding: 30px 15px;
}

div[class*='letter_']{
	background-color: white;
	border: 5px solid black;
	color: white;
	float: left;
	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	margin: 2px;
	width: 70px;
	height: 70px;
	font-weight: bold;
}

div.letter_blank{
	background-color: green;
	border-color: green;"
	color: green;
}

div[class*='letter_'].visible{
	color: black;
}

.clearBoth{
	clear: both;
}

#guessLetters{
    margin:auto;
	text-align: center;
	width: 910px;
}

.guessLetter{
	cursor: pointer;
    float: left;
	font-size: 50px;
    height: 60px;
	margin: 5px;
    width: 60px;
}

.guessLetter.guessed{
    color: lightgrey;
	text-decoration:line-through;
}

#result{
    font-size: 30px;
	text-align: center;
}