<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/vendor/jquery-1.9.1.js"></script>
</head>
<body>
	<h1>Welcome to Mike's Node.js playground</h1>
	<h3>Check out a few features I've been working out</h3>
	<ul class="links">
		<li>
			<a href="/wheelOfFortune">Wheel Of Fortune Game Board</a>
		</li>
		<li>
			<a href="/xss">Cross Site Scripting Prevention Testing</a>
		</li>
	</ul>
</body>

</html>