<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/wheelOfFortune.css">
    <script type="text/javascript" src="/js/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/wheelOfFortune.js"></script>
</head>
<body>
    <a href="/wheelOfFortune/puzzle1"><img src="/img/wheelOfFortune.jpg"/></a>
    <br/>
    <div id="credits">
        <div>Brought To You By:</div>
        <div>Michael Byrnes</div>
    </div>
</body>

</html>