<!doctype html>
<head>
    <link rel="stylesheet" href="/css/wheelOfFortune.css">
    <script type="text/javascript" src="/js/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/wheelOfFortune.js"></script>
</head>
<body>
    <div id="result"></div>
    <div id="puzzle">
        <div class="word">
        {{#each letters}}
            {{#if_eq this " "}}
                </div>
                <div class="letter_blank"></div>
                <div class="word">
            {{else}}
                <div class="letter_{{this}}">{{this}}</div>
            {{/if_eq}}
        {{/each}}
        </div>
        <div class="clearBoth"></div>
    </div>
    <div id="guessLetters">
        <div class="guessLetter" id="a">A</div>
        <div class="guessLetter" id="b">B</div>
        <div class="guessLetter" id="c">C</div>
        <div class="guessLetter" id="d">D</div>
        <div class="guessLetter" id="e">E</div>
        <div class="guessLetter" id="f">F</div>
        <div class="guessLetter" id="g">G</div>
        <div class="guessLetter" id="h">H</div>
        <div class="guessLetter" id="i">I</div>
        <div class="guessLetter" id="j">J</div>
        <div class="guessLetter" id="k">K</div>
        <div class="guessLetter" id="l">L</div>
        <div class="guessLetter" id="m">M</div>
        <div class="guessLetter" id="n">N</div>
        <div class="guessLetter" id="o">O</div>
        <div class="guessLetter" id="p">P</div>
        <div class="guessLetter" id="q">Q</div>
        <div class="guessLetter" id="r">R</div>
        <div class="guessLetter" id="s">S</div>
        <div class="guessLetter" id="t">T</div>
        <div class="guessLetter" id="u">U</div>
        <div class="guessLetter" id="v">V</div>
        <div class="guessLetter" id="w">W</div>
        <div class="guessLetter" id="x">X</div>
        <div class="guessLetter" id="y">Y</div>
        <div class="guessLetter" id="z">Z</div>
        <div class="clearBoth"></div>
    </div>
</body>
</html>